.clicker {
  --mainColor: wheat;
  --headingFontSize: 24px;

  color: var(--mainColor);

  & img {
    border-radius: 50%;
    border: 2px solid var(--color1);
    width: 150px;
    height: 150px;
    margin-bottom: 25px;
  }

  & h1 {
    font-size: var(--headingFontSize);
  }
  @media(--phonePortrait) {
    color: red;
  }
}
